POSTGRES_IMAGE=postgres:17-alpine
POSTGRES_DB=autumn_wind
POSTGRES_USER=autumn_wind
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD_HERE
POSTGRES_PORT=5432

RABBITMQ_IMAGE=rabbitmq:4.1-management-alpine
RABBITMQ_DEFAULT_USER=autumn_wind
RABBITMQ_DEFAULT_PASS=YOUR_RABBITMQ_PASSWORD_HERE
RABBITMQ_DEFAULT_VHOST=/autumn-wind
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_IMAGE=redis:8.2-alpine
REDIS_PASSWORD=YOUR_REDIS_PASSWORD_HERE
REDIS_PORT=6379

MINIO_IMAGE=minio/minio:RELEASE.2025-09-07T16-13-09Z
MINIO_ROOT_USER=autumn_wind
MINIO_ROOT_PASSWORD=YOUR_MINIO_PASSWORD_HERE
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
